/* admin.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 350px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: start;
}

h2 {
    text-align: center;
    color: #333;
}

form {
    text-align: left;
}

label, input, textarea {
    display: block;
    margin-bottom: 15px; /* Increase space between elements for better readability */
}

label {
    font-weight: bold;
    color: #333; /* Darken label color for better contrast */
}

input[type="text"],
textarea {
    width: 95%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    resize: vertical;
}

input[type="file"] {
    margin-top: 10px; /* Adjust margin */
}

button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
