body, ul {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.taskbar {
    background-color: #ffffff;
    color: #160303;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    border-radius: 50px;
}

.taskbar-container {
    display: flex;
    background-color: #ffffff;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

.taskbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.taskbar li {
    display: inline;
    margin-right: 20px;
}

.taskbar a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.taskbar ul li i {
    color: #333;
    margin-right: 5px;
}

.content {
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-image: url('images/headerimg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #000000;
    padding: 300px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.big-bar {
    background-color: #c0c4c7;
    padding: 40px;
    text-align: center;
    color: #a3a3a3;
    font-family: 'Roboto', sans-serif;
}

.content h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.content p {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
}
#volunteered-activities {
    background-color: #c0c4c7;
}
.container {
    text-align: center;
}
.box {
    width: 200px;
    height: 200px;
    background-color: #3498db;
    margin: 10px;
    display: inline-block;
}
.box img {
    max-width: 100%; /* The image will never exceed the container's width */
    max-height: 100%; /* The image will never exceed the container's height */
    display: block; /* Remove extra space below the image */
    margin: 0 auto;
}
.compartment {
    flex: 1;
    background-color: #8abcdd;
}
.compartment-2 {
    flex: 1;
    padding: 10px;
    background-color: #f5f8fa;
}
#home {
    background-color: #f9f9f9;
}

#hazard-maps {
    background-color: #e6f7ff;
}

#survival-tips {
    background-color: #ffeb99;
}

#emergency-contacts {
    background-color: #ffcccc;
}

#home h1 {
    color: #ffffff;
}

.send-report-button {
    background-color: #b90000;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
}
.activities-button {
    background-color: #b90000;
    color: #ffffff;
    padding: 10px 20px;
    margin: 10px;
    margin-top: 70px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(255, 0, 0, 0.1);
    position: relative;
}
.activities-button1 {
    background-color: #0f8ec9;
    color: #ffffff;
    padding: 10px 20px;
    margin: 10px;
    margin-top: 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(255, 0, 0, 0.1);
    position: relative;
}
/* Styling for the modal */
/* Style for the modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    opacity: 0; /* Start with 0 opacity (completely transparent) */
    transition: opacity 0.3s; /* Transition opacity changes over 0.3 seconds */
}
.modal.show {
    opacity: 1; /* Fully visible */
}


/* Styling for the modal content */
.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 10px;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.modal-content button {
    background-color: #0f8ec9;
    color: #ffffff;
    padding: 10px 20px;
    margin: 10px;
    margin-top: 50px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0px 4px 6px rgba(255, 0, 0, 0.1);
    position: relative;
}

/* Styling for the close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

/* Style the button to open the modal */
.open-modal-button {
    background-color: #008CBA;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}


.send-report-button:hover {
    background-color: #c77272;
}

.taskbar ul li:hover i {
    color: #ff0000;
    transition: color 0.3s;
}

.taskbar ul li:hover a {
    color: #ff3300;
    transition: color 0.3s;
}

.centered {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#weather-side {
    background-image: url('images/weather.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px; /* Adjust the padding as needed */
    color: #fff; /* Set the text color to white for better visibility */
}

.styled-username {
    color: rgb(160, 49, 30); /* Set text color to green */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a shadow to the text */
    font-style: italic; /* Italicize the text */
}

.logout-button {
    background-color: #FF6347; /* Red */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    border-radius: 50px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px; /* Adjust margin as needed */
}

.logout-button:hover {
    background-color: #FF0000; /* Brighter red on hover */
}

/* Style for the My Reports button */
.reports-button {
    background-color: #4682B4; /* Steel Blue */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    border-radius: 50px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.reports-button:hover {
    background-color: #1E90FF; /* Brighter steel blue on hover */
}

